<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" dir="ltr" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="ru-RU">
    <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{{page.title}}</title>
        <link rel="stylesheet" type="text/css" media="all" href="{{path}}style.css" />
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 960px)" href="{{path}}css/lessthen800.css" />
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 600px)" href="{{path}}css/lessthen600.css" />
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 480px)" href="{{path}}css/lessthen480.css" />
                                           
        <!-- CUSTOM STYLE -->                                       

        <link rel="stylesheet" type="text/css" media="all" href="{{path}}css/custom-style.css" />

        <!-- [favicon] begin -->

        <link rel="shortcut icon" type="image/x-icon" href="{{path}}favicon.ico" />
                
        <!-- MAIN FONT STYLE -->  
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz%3A400&amp;subset=latin%2Ccyrillic%2Cgreek" type="text/css" media="all" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans" type="text/css" media="all" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald" type="text/css" media="all" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz%3A200%2C400" type="text/css" media="all" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed%3A300%7CPlayfair+Display%3A400italic" type="text/css" media="all" />
        <!-- END MAIN FONT STYLE -->  

        <link rel="stylesheet" id="prettyPhoto-css" href="{{path}}css/prettyPhoto.css" type="text/css" media="all" />
        <link rel="stylesheet" id="jquery-tipsy-css" href="{{path}}css/tipsy.css" type="text/css" media="all" />

        <script type="text/javascript" src="{{path}}js/jquery.js"></script>
        <script type="text/javascript" src="{{path}}js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="{{path}}js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="{{path}}js/jquery.tipsy.js"></script>
        <script type="text/javascript" src="{{path}}js/jquery.tweetable.js"></script>
        <script type="text/javascript" src="{{path}}js/jquery.nivo.slider.pack.js"></script>
        <script type="text/javascript" src="{{path}}js/jquery.flexslider.min.js"></script>
        <script type="text/javascript" src="{{path}}js/jquery.cycle.min.js"></script>  

        <!-- for accordion slider in staff page -->
        <script type="text/javascript" src="{{path}}js/jquery.hrzAccordion.js"></script>

        <!-- for filterable effect in gallery and portfolio filterable page -->
        <script type="text/javascript" src="{{path}}js/jquery.quicksand.js"></script>

        <!-- for portfolio slider -->
        <script type="text/javascript" src="{{path}}js/jquery.jcarousel.min.js"></script>

        <!-- for the contact page -->
        <script type="text/javascript" src="{{path}}js/contact.js"></script>

        <!-- SLIDER ELASTIC -->
        <link rel="stylesheet" id="slider-elastic-css" href="{{path}}css/slider-elastic.css" type="text/css" media="all" />
        <script type="text/javascript" src="{{path}}js/jquery.eislideshow.js"></script>

        <!-- SLIDER CYCLE -->
        <link rel="stylesheet" id="slider-cycle-css" href="{{path}}css/slider-cycle.css" type="text/css" media="all" />
        <script type="text/javascript" src="{{path}}js/jquery.slides.min.js"></script>

        <!-- SLIDER THUMBNAILS -->
        <link rel="stylesheet" id="slider-thumbnails-css" href="{{path}}css/slider-thumbnails.css" type="text/css" media="all" />
        <script type="text/javascript" src="{{path}}js/jquery.aw-showcase.js"></script>

        <!-- SLIDER FLASH -->
        <script type="text/javascript" src="{{path}}js/swfobject.js"></script>

        <!-- SLIDER ELEGANT -->
        <link rel="stylesheet" id="slider-elegant-css" href="{{path}}css/slider-elegant.css" type="text/css" media="all" />

        <!-- SLIDER NIVO -->
        <link rel="stylesheet" id="slider-nivo-css" href="{{path}}css/slider-nivo.css" type="text/css" media="all" />

        <!-- CUSTOM JAVASCRIPT -->
        <script type="text/javascript" src="{{path}}js/jquery.custom.js"></script>
    </head>
    
    <body class="home image-sphere-style responsive">
    
        <!-- START SHADOW WRAPPER -->
        <div class="shadowBg group">
            
            <!-- START WRAPPER -->
            <div class="wrapper group">
                
                <!-- START TOPBAR -->
                <div id="topbar">
                    <div class="inner">
                        <ul class="topbar_links">
                            <li><a href="/user/login/">Войти</a></li> | 
                            <li><a href="/user/registry">Регистрация</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <!-- end.inner -->
                </div>
                <!-- END TOPBAR -->   
                 
                <!-- START HEADER -->
                <div id="header" class="group">
                
                    <!-- START LOGO -->
                    <div id="logo" class="group">
                        <a href="/" title="Diverso"> 
                        <img src="{{path}}images/logo.png" alt="Logo Diverso" />
                        </a>              
                    </div>
                    <!-- END LOGO -->   
                    {% include "nav.tmpl" %}                    
                </div>
                <!-- END HEADER -->        
        
                <!-- JS SCRIPT --> 
                <script type="text/javascript">  
                    // edit here
                    var 	slider_elastic_speed = 1000,
                            slider_elastic_timeout = 5000,
                            slider_elastic_autoplay = true,
                            slider_elastic_animation = 'sides'; 
                    // end editing    
                            
            		$('#slider.elastic').eislideshow({
        				easing		: 'easeOutExpo',
        				titleeasing	: 'easeOutExpo',
        				titlespeed	: 1200,
        				autoplay	: slider_elastic_autoplay,
        				slideshow_interval : slider_elastic_timeout,
        				speed       : slider_elastic_speed,
        				animation   : slider_elastic_animation
                    });
                </script>
                <!-- END #slider -->    
                
                <div id="content" class="gradient layout-sidebar-no group">
                    
                    <!-- SLOGAN -->
                    <div id="slogan" class="inner">
                        <h1>{{ page.header }}</h1>
                        <h3>{{ page.content | raw }}</h3>
                    </div>                       
                    <!-- END SLOGAN -->
                    
                    <!-- START CONTENT -->
                    <div id="primary" class="hentry group wrapper-content" role="main">

                    </div>
                    <!-- END CONTENT -->
                </div> 
        
                {% include "thumb.tmpl" %}
            </div>
            <!-- END WRAPPER -->

            <!-- START COPYRIGHT -->
            <div id="copyright" class="group two-columns">
                <div class="inner group">
                    <p class="left">Copyright <a href="#"><strong>Diverso</strong></a> 2010 - Powered by <a href="http://www.garmayev.ru/"><strong>Garmayev Group</strong></a></p>
                    </p>
                </div>
                    
            </div>
            <!-- END COPYRIGHT -->  
                   
        </div>
        <!-- END SHADOW -->       
        
    </body>
</html>