                <!-- HOME SECTIONS -->   
                <div class="home-sections">
                
                    <!-- SECTION #1 -->
                    <div class="section gradient s-1 group">
                        <div class="section-title for-not-mobile">
                            <h2>About</h2>
                        </div>
                        <div class="section-content">
                            <h2 class="for-mobile">About</h2>
                            <h3>DI’VERSO <span>is a creative agency.</span></h3>
                            <h4>We create a beautiful, original, <span>amazing things.</span></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur <strong>adipiscing</strong> elit. Donec vel dui ut augue tempus condimentum. In erat risus, pulvinar ac pulvinar adipiscing, vestibulum eget quam. Aenean molestie viverra ante at tincidunt. <strong>Etiam rhoncus elementum</strong> ultricies. ecenas volutpat ornare auctor. In non orci nec lacus imperdiet aliquet. Curabitur eleifend nulla ut augue.</p>
                        </div>
                        <div class="shadow"></div>
                    </div>               
                    <!-- END SECTION #1 -->
                    
                    <!-- SECTION #2 -->
                    <div class="section gradient s-2 group">
                        <div class="section-title for-not-mobile">
                            <h2>Services</h2>
                        </div>
                        <div class="section-content">
                            <div class="tabs-container">
                                <ul class="tabs">
                                    <li>
                                        <h4><a href="#webdesign" title="Web Design">Web Design</a></h4>
                                    </li>
                                    <li>
                                        <h4><a href="#brand" title="Brand Identity">Brand Identity</a></h4>
                                    </li>
                                    <li>
                                        <h4><a href="#photo" title="Photography">Photography</a></h4>
                                    </li>
                                    <li>
                                        <h4><a href="#advertise" title="Advertising">Advertising</a></h4>
                                    </li>
                                    <li>
                                        <h4><a href="#copywrite" title="Copywriting">Copywriting</a></h4>
                                    </li>
                                    <li>
                                        <h4><a href="#marketing" title="Marketing">Marketing</a></h4>
                                    </li>
                                </ul>
                                <div class="border-box group">
                                
                                    <div id="webdesign" class="panel group">
                                        <img src="images/sections/web.png" alt="" class="alignright" />
                                        <h3>We do beautiful things</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dui ut 
                                            augue tempus condimentum., vestibulum eget quam. Aenean molestie viverra ante 
                                            at tincidunt. Etiam rhoncus elementum ultricies. ecenas volutpat seori ornare auctor.
                                        </p>
                                    </div>
                                    
                                    <div id="brand" class="panel group">
                                        <img src="images/sections/brand.png" alt="" class="alignleft" />
                                        <h3>Brand & Corporate Identity</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dui ut 
                                            augue tempus condimentum., vestibulum eget quam. Aenean molestie viverra ante 
                                            at tincidunt. Etiam rhoncus elementum ultricies. ecenas volutpat seori ornare auctor.
                                        </p>
                                    </div>
                                    
                                    <div id="photo" class="panel group">
                                        <img src="images/sections/foto.png" alt="" class="alignright" />
                                        <h3>Photobooks</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dui ut 
                                            augue tempus condimentum., vestibulum eget quam. Aenean molestie viverra ante at tincidunt.
                                        </p>
                                    </div>
                                    
                                    <div id="advertise" class="panel group">
                                        <img src="images/sections/adv.png" alt="" class="alignleft" />
                                        <h3>Advertising: Be Smart</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dui ut 
                                            augue tempus condimentum., vestibulum eget quam. Aenean molestie viverra ante 
                                            at tincidunt. Etiam rhoncus elementum ultricies. ecenas volutpat seori ornare auctor.
                                        </p>
                                    </div>
                                    
                                    <div id="copywrite" class="panel group">
                                        <img src="images/sections/copy.png" alt="" class="alignright" />
                                        <h3>Copywriting services</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dui ut 
                                            augue tempus condimentum., vestibulum eget quam. Aenean molestie viverra ante 
                                            at tincidunt. Etiam rhoncus elementum ultricies. ecenas volutpat seori ornare auctor.
                                        </p>
                                    </div>
                                    
                                    <div id="marketing" class="panel group">
                                        <img src="images/sections/marketing.png" alt="" class="alignleft" />
                                        <h3>Marketing Strategies</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dui ut 
                                            augue tempus condimentum., vestibulum eget quam. Aenean molestie viverra ante 
                                            at tincidunt. Etiam rhoncus elementum ultricies. ecenas volutpat seori ornare auctor.
                                        </p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="shadow"></div>
                    </div>              
                    <!-- END SECTION #2 -->
                    
                    <!-- SECTION #3 -->
                    <div class="section gradient s-3 group">
                        <div class="section-title for-not-mobile">
                            <h2>Testimonials</h2>
                            <h4>Need a <span>free</span> quote?</h4>
                            <p>Feel free to contact us for a free quote. Use this form or call us!</p>
                        </div>
                        <div class="section-content">
                            <h2 class="for-mobile">Testimonials</h2>
                            <h3>Our clients say</h3>
                            <div class="cites group">
                                <div class="text">
                                    <p>Quisque vel ipsum nec magna aliquet molestie in quis ipsum. Sed nisl est, 
                                    hendrerit in laoreet facilisis, placerat eget tortor. Nunc ipsum eros, sagittis 
                                    quis dignissim sed, imperdiet vitae sem. Praesent et ultricies tellus. Etiam ornare 
                                    dolor sagittis quis dignissim sed, imperdiet vitae sem. Praesent et ultricies tellus.</p>
                                </div>
                                <div class="text">
                                    <p>Duis bibendum massa in felis auctor at pellentesque nulla consequat. Duis 
                                    ornare elementum nisl quis semper. <strong>In consequat tortor</strong> odio, 
                                    quis iaculis metus. Phasellus neque ipsum, volutpat molestie pellentesque dapibus, 
                                    dapibus molestie libero</p>
                                </div>
                                <div class="text">
                                    <p>Nunc egestas magna luctus mauris ultricies vitae fermentum lectus faucibus. 
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                                    Curae; Mauris et augue suscipit est ultricies gravida. Phasellus sollicitudin 
                                    scelerisque pellentesque. Mauris et augue suscipit!</p>
                                </div>
                            </div>
                            <div class="border-line"></div>
                            <ul class="testimonials group">
                                <li class="active">
                                    <div class="sphere"><img width="78" height="78" src="images/testimonials/mergot-78x78.jpg" class="attachment-testimonial-thumb wp-post-image" alt="mergot" title="mergot" /></div>
                                    <div class="shadow-thumb"></div>
                                    <h4>Joy Mèrgot</h4>
                                    <a href="http://google.com" class="website">google.com</a>
                                </li>
                                <li>
                                    <div class="sphere"><img width="78" height="78" src="images/testimonials/meis-78x78.jpg" class="attachment-testimonial-thumb wp-post-image" alt="meis" title="meis" /></div>
                                    <div class="shadow-thumb"></div>
                                    <h4>Elisa Meis</h4>
                                    <a href="http://LoveCraft" class="website">Love Craft</a>
                                </li>
                                <li>
                                    <div class="sphere"><img width="78" height="78" src="images/testimonials/mori-78x78.jpg" class="attachment-testimonial-thumb wp-post-image" alt="mori" title="mori" /></div>
                                    <div class="shadow-thumb"></div>
                                    <h4>Ricardo Mori</h4>
                                    <a href="http://SolarisInc" class="website">Solaris Inc</a>
                                </li>
                            </ul>
                        </div>
                        <div class="shadow"></div>
                    </div>  
                    <!-- END SECTION #3 -->
                    
                </div>   
                <!-- END HOME SECTIONS -->   
                
