                <!-- BEGIN #slider -->                  
                <div id="slider" class="ei-slider elastic">
                    <ul class="ei-slider-large">
                        
                        <li class="first slide-1 slide align- image-content-type">
                            <img src="./images/slider/elastic/01.jpg" width="1280" height="500" alt="A Creative Touch.." />
                            <div class="ei-title">
                                <h2>A Creative Touch..</h2>
                                <h3>with diverso</h3>
                            </div>
                        </li>
                        
                        <li class="slide-2 slide align- image-content-type">
                            <img src="./images/slider/elastic/Senza-titolo-1.jpg" width="1280" height="500" alt="WordPress themes" />
                            <div class="ei-title">
                                <h2>WordPress themes</h2>
                                <h3>..only from 35$</h3>
                            </div>
                        </li>
                        
                        <li class="slide-3 slide align- image-content-type">
                            <img src="./images/slider/elastic/cinese.jpg" width="1280" height="500" alt="A great slider" />
                            <div class="ei-title">
                                <h2>A great slider</h2>
                                <h3>..for your brand</h3>
                            </div>
                        </li>
                        
                        <li class="slide-4 slide align- image-content-type">
                            <img src="./images/slider/elastic/dolce1.jpg" width="1280" height="500" alt="So sweet, so cutie" />
                            <div class="ei-title">
                                <h2>So sweet, so cutie</h2>
                                <h3>enjoy this theme</h3>
                            </div>
                        </li>
                        
                        <li class="slide-5 slide align- image-content-type">
                            <img src="./images/slider/elastic/ultima.jpg" width="1280" height="500" alt="This premium theme" />
                            <div class="ei-title">
                                <h2>This premium theme</h2>
                                <h3>a great solution</h3>
                            </div>
                        </li>
                        

                    <!-- ei-slider-large -->
                    <ul class="ei-slider-thumbs">
                        <li class="ei-slider-element">Current</li>
                        <li><a href="#">A Creative Touch.. - with diverso</a><img src="images/slider/elastic/01-150x59.jpg" alt="A Creative Touch.. - with diverso" /></li>
                        <li><a href="#">WordPress themes - ..only from 35$</a><img src="images/slider/elastic/Senza-titolo-1-150x59.jpg" alt="WordPress themes - ..only from 35$" /></li>
                        <li><a href="#">A great slider - ..for your brand</a><img src="images/slider/elastic/cinese-150x59.jpg" alt="A great slider - ..for your brand" /></li>
                        <li><a href="#">So sweet, so cutie - enjoy this theme</a><img src="images/slider/elastic/dolce1-150x59.jpg" alt="So sweet, so cutie - enjoy this theme" /></li>
                        <li><a href="#">This premium theme - a great solution</a><img src="images/slider/elastic/ultima-150x59.jpg" alt="This premium theme - a great solution" /></li>
                     </ul>
                    <!-- ei-slider-thumbs -->    
                    <div class="shadow"></div>
                </div>                             
                
